<article class="blog-post">
    <h3 class="mb-0">Title: {{{name}}}</h3>
    <p class="blog-post-meta">Posted on {{format_date date_created}} by {{user.name}}</p> <a href="#">Jacob</a></p>

    <p>{{{description}}}</p>
</article>

<script src="../public/js/post.js"></script>
