<article class="blog-post">
    <h3 class="mb-0">{{{name}}}</h3>
    <p class="blog-post-meta">Posted on {{format_date date_created}} by {{user.name}}</p></p>

    <p>{{{description}}}</p>
</article>

{{!-- <script src="../public/js/post.js"></script> --}}

    <form class="form comment-form">
      <div class="form-group">
        <label for="name-comment">Add Comment:</label>
        <input class="form-input" type="text" id="comment" />
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>

<script src="/js/addcomment.js"></script>
