<article class="blog-post">
    <h3 class="mb-0">{{{user.name}}}</h3>
    <p class="blog-post-meta"> {{format_date date_created}} by <a href="#">Jacob</a></p>

    <p>{{{description}}}</p>
</article>

<script src="./js/post.js"></script>
